<!DOCTYPE html>
<html>
	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.4.min.css" />
		<style>
		
	</style>
		<script type="text/javascript" src="/static/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/static/js/jquery.mobile-1.4.4.min.js" ></script>
	</head>
	<body>
		<div data-role="page" data-theme="a">
			<div data-role="header">
				<h1>修改信息</h1>
			</div>

			<div data-role="content">
			  <form id="add" action="/mobile_dev_edit/success/" method="post" data-ajax="false"  enctype="multipart/form-data">

                  <p>
                    <label for="img">设备图片：</label>
                    <img width="120" height="120" src="/media/{{ dev_detail.image }}" width="80%" />
                    <input type="file" name="img" id="img">
                {#                <button type="submit">上传图片</button>#}
                </p>
                  <p>
			    <label for="device_name">设备名称:</label>
			    <input type="text" name="device_name" id="device_name" value={{ dev_detail.device_name }} data-theme="d"/>
			    </p>
                  <p>
			    <label for="device_id">设备编号:</label>
			    <input type="text" name="device_id" id="device_id" value={{ dev_detail.device_id }} readonly="readonly" data-theme="d"/>
			    </p>
				<p>
				<label for="category">设备类别:</label>
					<select name="category" id="category">
					  <option value="lift_dev">起重机械</option>
					  <option value="car">汽车</option>
					</select>	
				</p>
                  <p>
				<label for="status">设备状态:</label>
					<select name="status" id="status">
					  <option value="normal">正常</option>
					  <option value="repair">维修</option>
                        <option value="check">检查</option>
					</select>
				</p>

				<p>
				<label for="device_model">设备型号:</label>
		        <input type="text" name="device_model" id="device_model" value={{ dev_detail.device_model }} >
				</p>
                  <p>
				<label for="value">本币原值:</label>
		        <input type="text" name="value" id="value" value="" data-theme="d" />
				</p>

                  <p>
				<label for="delivery">所属部门编号:</label>
					<select name="delivery" id="delivery">
					  <option value="G0">G0</option>
					  <option value="G1">G1</option>
					</select>
				</p>
                  <p>
				<label for="delivery">设备等级:</label>
					<select name="delivery" id="delivery">
					  <option value="barcode">特种设备</option>
					  <option value="nfc">一般设备</option>
					</select>
				</p>
				<p>				 
				<label for="textarea">备注:</label>
				<textarea cols="40" rows="8" name="textarea" id="textarea" placeholder="Textarea" data-theme="d"></textarea>	
				</p>
                  <p>
                  <input class="btn btn-green" id="addbtn" type="submit" value="提交" />
                  </p>
                  <input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY' />
				    {% csrf_token %}
			  </form>	
			</div>
		</div>
		
	</body>
</html>