<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

		<title>设备管理系统</title>
{#		<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.4.min.css" />#}
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.css" />
        <style>
			p {
		font-size: 1.5em;
		font-weight: bold;
	}
		
		</style>
		<script type="text/javascript" src="/static/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/static/js/jquery.mobile-1.4.4.min.js" ></script>
	</head>
	
	<body>
		
		<div data-role="page" style="background-image: url(/static/images/);">
	<div data-role="header" data-theme="f">
		<h1 role="heading">欢迎登陆</h1>
		
	</div>

	<div data-role="content">
		
		<br>
		<br>

	  <form id="mobile_login" action="/mobile_login/" method="post" autocomplete="off">
          <input type='hidden' name='csrfmiddlewaretoken' value='mymQDzHWl2REXIfPMg2mJaLqDfaS1sD5' />
{#	  	 <p style="backg"><font color="#2EB1E8" >用户管理系统</font></p>#}
{#          <p style="margin-bottom:8px;"></p>#}
		<div class="form-group marb20 {% if login_form.errors.username %} errorput {% endif %}">
              <p>
                  <label for="username"><b>用户名:</b></label>
            <input type="text" name="username" id="username" value="" placeholder="请输入用户名" data-theme="a"/>
            </p>
        </div>
      <br>
          <div class="form-group marb8 {% if login_form.errors.password %} errorput {% endif %}">
            <p>
                <label for="password"><b>密码:</b></label>
            <input type="password" name="password" id="password" value="" placeholder="请输入密码" data-theme="a" />
            </p>
          </div>
          <div class="error btns login-form-tips" id="jsLoginTips">{% for key, error in login_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>
{#		<br>#}
{#		<a data-role="button" id="submit" data-theme="a">登录</a>#}
          <input data-role="button" id="jsLoginBtn" type="submit" value="立即登录" />
          <input type='hidden' name='csrfmiddlewaretoken' value='5I2SlleZJOMUX9QbwYLUIAOshdrdpRcy' />
          {% csrf_token %}
	  </form>	
	</div>

        <footer data-role="footer" data-position="fixed" data-theme="a" class="ui-mini">
            <h3>©武汉理工大学</h3>
        </footer>

</div>

	</body>
</html>


