<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <!--自适应界面,如果出现,在某些设备出现界面偏小的话,检查一下有没有加入这句 -->
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

{#	<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.4.min.css" />#}
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.css" />
	<style>
        #dev_img{
            background-color: #3388cc;
            height: 12rem;
        }
        #userr{
            padding-left: 30%;
            padding-top: 12%;
        }
        .p_left{float:left; width: 40%; text-align: right; color: grey}
        .p_right{float:right; width: 60%; text-align: left; color: black; font-weight:bold}
        .reas{color: red}
    </style>

    <script type="text/javascript" src="/static/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/static/js/jquery.mobile-1.4.4.min.js" ></script>
	<script src="/static/js/cordova-1.5.0.js"></script>

    <script>
            $(document).ready(function(){
                $("#devd").click(function(){
                    var devid=$("#get_param").text();
                      $.get("/mobile_get_details/",{ "dev_id": devid },
                          function(data,status){
                                if(status=='success'){
                                    $.mobile.changePage("#mobile_dev_msg", { transition:'slide' });
                                    var dev_detail= JSON.parse(data);
                                    {#alert(dev_detail)#}
                                    {#alert(dev_detail[0].fields.device_name)#}
                                    {#for(var i=0;i<cate.length;i++){#}
                                        {#alert(cate[i].fields.cate_name);#}
                                        $("#dev_img").append(
                                            "<p>设备名称：" + dev_detail[0].fields.device_name +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>设备编号：" + dev_detail[0].fields.device_id +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>设备类别：" + dev_detail[0].fields.category_name +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>设备型号：" + dev_detail[0].fields.device_model +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>设备状态：" + dev_detail[0].fields.device_status +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>所属部门编号：" + dev_detail[0].fields.belong_id +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>设备等级：" + dev_detail[0].fields.device_rank +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>备注：" + dev_detail[0].fields.ps +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "\n" +
                                            "<br />"
                                        )
                                    }

                          });
                    });
                });
        </script>

{#    <script>#}
{#            $(document).ready(function(){#}
{#                $("#delbt").click(function(){#}
{#                    var devid=$("#get_param").text();#}
{#                    $.mobile.changePage("#mobile_delete", { data:devid,transition:'slide' })#}
{#                    $("#title").append(#}
{#                        "a href=\"/mobile_dev_del/?dev_id="+devid+"\" data-role=\"button\" data-theme=\"b\">确定</a>"#}
{#                )#}
{##}
{#                });#}
{#            });#}
{#        </script>#}


</head>
<body>

    <div data-role="page" id="mobile_dev_msg" >
			<div data-role="header" data-position="fixed" data-theme="f">
                <a href="/mobile_pending_plan/" data-role="button" data-icon="home" data-transition="flow" >返回</a>
				<h1>计划详情</h1>
			</div>

			<div data-role="content">
                <div id="dev_img"></div>
                <br>
                <p class="p_left">部件名称&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">{{ dev_detail.parts_name }}</p>
                <hr/>
                <p class="p_left">计划编号&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">{{ dev_detail.plan_id }}</p>
                <hr/>
                <p class="p_left">规格型号&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">{{ dev_detail.spec_model }}</p>
                <hr/>
                <p class="p_left">数量&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">{{ dev_detail.num }}</p>
                <hr/>
                <p class="p_left">申请部门&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">{{ dev_detail.apply_unit }}</p>
                <hr/>
                <p class="p_left">计划类别&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">{{ dev_detail.plan_class }}</p>
                <hr/>
                <p class="p_left">计划状态&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">{{ dev_detail.plan_model }}</p>
                <hr/>
                {% ifequal 1 tag %}
                    <p class="p_left">审批未通过原因&nbsp;&nbsp;:&emsp;</p>
                    <p class="p_right reas">{{ dev_detail.plan_no }}</p>
                    <hr/>
                {% endifequal %}
                <p class="p_left">备注&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">{{ dev_detail.remark }}</p>
                <hr/>

				<br />
{#				<ul data-role="listview" >#}
{#					<li><a href="#comments" >备注：</a></li>#}
{##}
{#				</ul>#}

{#                {% ifequal '0' flag %}
                    <a href="/mobile_pending_plan/?plan_id={{ dev_detail.plan_id }}" data-transition="slide">
                            <button>审批同意</button>
                        </a>
                <a href="#mobile_plan_no" data-transition="slide">
                            <button>审批不同意</button>
                        </a>

{#                    <a href="#mobile_delete" data-transition="flow">#}
{#                        <button>删除</button>#}
{#                        </a>#}
{#                    <a href="/mobile_rep_apply/?dev_id={{ dev_detail.device_id }}" data-transition="slide">#}
{#                        <button>设备维护申请</button>#}
{#                        </a>#}
            {% endifequal %}

			</div>

		</div>


        <div data-role="dialog" id="mobile_plan_no">
			<div data-role="content" data-theme="a">
                <form id="no" action="/mobile_plan_do_no/" method="post" data-ajax="false">
                   <p>
			    <label for="plan_id">计划编号:</label>
			    <input type="text" name="plan_id" id="plan_id" value={{ dev_detail.plan_id }} readonly="readonly" data-theme="d"/>
			    </p>
                    <p>
                    <label for="advice">审批意见:</label>
                    <textarea cols="40" rows="8" name="advice" id="advice" placeholder="计划不通过原因" data-theme="d"></textarea>
                    </p>
                    <p>
                      <input class="btn btn-green" id="addbtn" type="submit" value="提交" />
                      </p>
                      <input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY' />
                        {% csrf_token %}
                </form>
			</div>
		</div>


</body>
</html>
