<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <!--自适应界面,如果出现,在某些设备出现界面偏小的话,检查一下有没有加入这句 -->
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

{#	<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.4.min.css" />#}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/static/js/jquery.mobile-1.4.4.min.js" ></script>
	<script src="/static/js/cordova-1.5.0.js"></script>

    <script>
            $(document).ready(function(){
                $("a.devd").click(function(){
                    var plan_id=$("#get_param").text();
                      $.get("/mobile_get_plan_details/",{ "plan_id": plan_id },
                          function(data,status){
                                if(status=='success'){
                                    $.mobile.changePage("#mobile_plan_msg", { transition:'slide' });
                                    var dev_detail= JSON.parse(data);
                                    {#alert(dev_detail)#}
                                    {#alert(dev_detail[0].fields.device_name)#}
                                    {#for(var i=0;i<cate.length;i++){#}
                                        {#alert(cate[i].fields.cate_name);#}
                                        $("#dev_img").append(
                                            "<p>部件名称：" + dev_detail[0].fields.parts_name +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>计划编号：" + dev_detail[0].fields.plan_id +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>规格型号：" + dev_detail[0].fields.spec_model +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>数量：" + dev_detail[0].fields.num +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>申请部门编号：" + dev_detail[0].fields.apply_unit +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>计划时间：" + dev_detail[0].fields.plan_time +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p><b>计划类别：" + dev_detail[0].fields.plan_class +"</b></p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>含税价格：" + dev_detail[0].fields.tax_price +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>税率：" + dev_detail[0].fields.tax_rate +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>不含税价格：" + dev_detail[0].fields.no_tax_price +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "\n" +
                                            "<br />"
                                        )
                                    }

                          });
                    });
                });
        </script>

</head>
<body>

    <div data-role="page" id="pending_plan" >
    <div data-role="header" data-position="fixed" data-theme="f" >
    	<a href="/mobile_index/" data-ajax="false" data-role="button" data-icon="home" data-transition="slide">首页</a>
			<h1>待处理事项</h1>
        <div data-role="navbar">
            <ul>
              <li><a href="/mobile_pending/" data-transition="flip" data-icon="home">设备维护</a></li>
              <li><a href="/mobile_pending_plan/" data-transition="flip" class="ui-btn-active ui-state-persist" data-icon="home">计划审批</a></li>
            </ul>
      </div>
	</div>
	<div data-role="content" id="main3Content" >
		
{#		<ul data-role="listview" data-inset="true">#}
{##}
{#            {% for plan in devices_plan %}#}
{#              <li data-role="list-divider">{{ plan.plan_time }}<span class="ui-li-count">1</span></li>#}
{#              <li><a id="devd">#}
{#                <h2>{{ plan.parts_name }}</h2>#}
{#                <p><b>{{ plan.num }}</b></p>#}
{#                <br>#}
{#                <p>规格型号: {{ plan.spec_model }}</p>#}
{#                  <p id="get_param">{{ plan.plan_id }}</p>#}
{#                <p class="ui-li-aside">申请部门: {{ plan.apply_unit }}</p></a>#}
{##}
{#              </li>#}
{#            {% endfor %}#}

{#      <li><a href="#">#}
{#        <h2>设备A</h2>#}
{#        <p><b>齿轮松动</b></p>#}
{#        <br>#}
{#        <p>Well, Mr. Griffin, I've looked into physical results.</p>#}
{#        <p>Ah, Mr. Griffin, I'm not quite sure how to say this. Kim Bassinger? Bass singer? Bassinger?</p>#}
{#        <p class="ui-li-aside">申请人: xxx</p></a>#}
{#      </li>#}

{#    </ul>#}
			<!-- <li>
				<a href="#">
					<img src="/static/image/album-p.jpg" />
					<h3>帮助</h3>
					<p>查看系统帮助信息</p>
				</a>
				<a href="#" data-rel="dialog" data-transition="slideup">动作</a>
			</li>
			<li>
				<a href="index.html"  rel="external">
					<img src="/static/image/album-p.jpg" />
					<h3>重新登录</h3>
					<p>返回登录界面重新登录</p>
				</a>
				<a href="index.html" data-rel="dialog" data-transition="slideup"  rel="external">动作</a>
			</li> -->
		<!-- </ul> -->

{#    <div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="a">#}
{#			<h3>设备购置</h3>#}
			<ul data-role="listview" data-inset="true">
{#                <li data-role="list-divider" >计划审批</li>#}
{#        <br>#}
{#        {% ifequal flag '0' %}#}
            {% for plan in devices_plan %}
    {#                {% ifequal dev_rep.rep_status 'wait' %}#}
                      <li data-role="list-divider" data-theme="a">{{ plan.plan_time }}<span class="ui-li-count" id="get_param_p">{{ plan.plan_id }}</span></li>
                      <li data-theme="c"><a href="/mobile_plan_do_msg/?plan_id={{ plan.plan_id }}" data-ajax='false'>
                        <h2>{{ plan.parts_name }}</h2>
                        <p><b>数量：{{ plan.num }}</b></p>
                        <br>
{#                        <p>设备类别: {{ dev_rep.category_name }}</p>#}
    {#                      <p id="get_param">{{ dev_rep.apply_id }}</p>#}
                        <p>规格型号: {{ plan.spec_model }}</p>
                        <p class="ui-li-aside">申请部门: {{ plan.apply_unit }}</p></a>
                      </li>
                        <hr>
                        <br>
    {#                {% endifequal %}#}
                {% endfor %}
{#        {% endifequal %}#}
			</ul>
		</div>
{#    <br>#}
{#    <hr>#}
{#    <br>#}
{##}
{#		<div data-role="collapsible" data-theme="b" data-content-theme="a">#}
{#			<h3>更新升级</h3>#}
{#			<ul data-role="listview" data-inset="true">#}
{#                {% for plan in devices_plan %}#}
{#                    {% ifequal plan.plan_class 'update' %}#}
{#                        {% ifequal plan.plan_model 'ok' %}#}
{#                          <li data-role="list-divider">{{ plan.plan_time }}<span class="ui-li-count" id="get_param">{{ plan.plan_id }}</span></li>#}
{#                          <li><a href="/mobile_plan_msg/?plan_id={{ plan.plan_id }}" rel="external">#}
{#                                <h2>{{ plan.parts_name }}</h2>#}
{#                                <p><b>数量：{{ plan.num }}</b></p>#}
        {#                        <br>#}
{#                                <p>规格型号: {{ plan.spec_model }}</p>#}
        {#                          <p id="get_param">{{ plan.plan_id }}</p>#}
{#                                <p class="ui-li-aside">申请部门: {{ plan.apply_unit }}</p></a>#}
{#                          </li>#}
{#                            {% endifequal %}#}
{#                    {% endifequal %}#}
{##}
{#                {% endfor %}#}
{#            </ul>#}
{#		</div>#}
{#    <br>#}
{#    <hr>#}
{#    <br>#}
{##}
{#		<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="a">#}
{#			<h3>废物回收</h3>#}
{#			<ul data-role="listview" data-inset="true">#}
{#				{% for plan in devices_plan %}#}
{#                    {% ifequal plan.plan_class 'recycle' %}#}
{#                        {% ifequal plan.plan_model 'ok' %}#}
{#                          <li data-role="list-divider">{{ plan.plan_time }}<span class="ui-li-count" id="get_param">{{ plan.plan_id }}</span></li>#}
{#                          <li><a href="/mobile_plan_msg/?plan_id={{ plan.plan_id }}" rel="external">#}
{#                                <h2>{{ plan.parts_name }}</h2>#}
{#                                <p><b>数量：{{ plan.num }}</b></p>#}
        {#                        <br>#}
{#                                <p>规格型号: {{ plan.spec_model }}</p>#}
        {#                          <p id="get_param">{{ plan.plan_id }}</p>#}
{#                                <p class="ui-li-aside">申请部门: {{ plan.apply_unit }}</p></a>#}
{#                          </li>#}
{#                            {% endifequal %}#}
{#                    {% endifequal %}#}
{##}
{#                {% endfor %}#}
{#			</ul>#}
{#		</div>#}

{#	</div>#}

	<div data-role="footer" data-position="fixed" data-theme="f">
				<div data-role = "navbar">
					<ul>
						<li><a href="#" data-icon="star" data-transition="slideup">工单</a></li>
{#						<li><a href="#" data-icon="gear">备件管理</a></li>#}
						<li><a href="/mobile_index/" data-ajax="false" data-icon="grid" data-transition="slideup">设备管理</a></li>
						<li><a href="/mobile_plan/" data-icon="plus" data-transition="slideup">购置计划</a></li>
						<li><a href="/mobile_me/" data-icon="home" data-transition="slideup">我的</a></li>
					</ul>
				</div>
			</div>
    </div>


    <div data-role="page" id="mobile_plan_msg" >
			<div data-role="header" data-position="fixed" data-theme="a">
				<a href="#plan" data-transition="flow" >返回</a>
				<h1>申请详情</h1>
			</div>

			<div data-role="content">
                <p >设备图片：<img src=/static/images/1.png" width="80%" /></p>
                <div id="dev_img"></div>


				<br />
{#				<ul data-role="listview" >#}
{#					<li><a href="#comments" >备注：</a></li>#}
{##}
{#				</ul>#}

{#                {% ifequal '0' flag %}#}
{#                    <a href="/mobile_pending/?dev_id={{ .device_id }}">#}
{#                            <button>已修好</button>#}
{#                        </a>#}

{#                    <a>#}
{#                        <button id="delbt" ></button>#}
{#                        </a>#}
{#                    <a href="/repair_apply/?dev_id={{ dev_detail.device_id }}">#}
{#                        <button>设备维护申请</button>#}
{#                        </a>#}
{#            {% endifequal %}#}

			</div>

		</div>


</body>
</html>
