<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

		<title>设备管理系统</title>
		<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.4.min.css" />
		<style>
			p {
		font-size: 1.5em;
		font-weight: bold;
	}
		
		</style>
		<script type="text/javascript" src="/static/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/static/js/jquery.mobile-1.4.4.min.js" ></script>
	</head>
	
	<body>
		
		<div data-role="page" id="device" class="ui-page" data-prev="index" >
			<div data-role="header" data-position="fixed" data-theme="a">

				<h1>设备检索</h1>
				<a href="/mobile_index/" data-transition="flow" >返回</a>
			</div>

			<div data-role="content">
				<ul data-role="listview"  data-autodividers="false"  data-filter="true" data-insert = "true">
					<li data-role="list-divider" >起重机械</li>
                    {% for dev in all_lift_devs %}
{#                        {% ifequal dev.category_name 'lift_dev' %}#}
                            <li><a href="/mobile_dev_msg/?dev_id={{ dev.device_id }}" rel="external">{{ dev.device_name }}</a></li>
{#                        {% endifequal %}#}
                    {% endfor %}
                    <li data-role="list-divider" >汽车</li>
                    {% for dev in all_car_devs %}
{#                        {% ifequal dev.category_name 'car' %}#}
                            <li><a href="/mobile_dev_msg/?dev_id={{ dev.device_id }}" rel="external">{{ dev.device_name }}</a></li>
{#                        {% endifequal %}#}
                    {% endfor %}
{#					<li><a href="#">AMB</a></li>#}
{#					<li><a href="#">AFBC</a></li>#}
{#					<li><a href="#">ASDSD</a></li>#}
{#					<li><a href="#">B</a></li>#}
{#					<li><a href="#">C</a></li>#}
{#					<li><a href="#">D</a></li>#}
{#					<li><a href="#">E</a></li>#}
{#					<li><a href="#">F</a></li>#}
{#					<li><a href="#">G</a></li>#}
{#					<li><a href="#">H</a></li>#}
				</ul>
			</div>
		</div>

	</body>
</html>


