<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <!--自适应界面,如果出现,在某些设备出现界面偏小的话,检查一下有没有加入这句 -->
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

	<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.4.min.css" />

    <script type="text/javascript" src="/static/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/static/js/jquery.mobile-1.4.4.min.js" ></script>
	<script src="/static/js/cordova-1.5.0.js"></script>

    <script>
            $(document).ready(function(){
                $("a.devd").click(function(){
                    var change_id=$("#get_param").text();
                      $.get("/mobile_get_out_details/",{ "change_id": change_id },
                          function(data,status){
                                if(status=='success'){
                                    $.mobile.changePage("#mb_out_msg", { transition:'slide' });
                                    var dev_detail= JSON.parse(data);
                                    {#alert(dev_detail)#}
                                    {#alert(dev_detail[0].fields.device_name)#}
                                    {#for(var i=0;i<cate.length;i++){#}
                                        {#alert(cate[i].fields.cate_name);#}
                                        $("#dev_img").append(
                                            "<p>配件名称：" + dev_detail[0].fields.parts_name +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>变更编号：" + dev_detail[0].fields.change_id +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>规格型号：" + dev_detail[0].fields.spec_model +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>数量：" + dev_detail[0].fields.num +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>含税价格：" + dev_detail[0].fields.tax_price +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>税率：" + dev_detail[0].fields.tax_rate +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>不含税价格：" + dev_detail[0].fields.no_tax_price +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>备注：" + dev_detail[0].fields.ps +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "\n" +
                                            "<br />"
                                        )
                                    }

                          });
                    });
                });
        </script>

</head>
<body>

    <div data-role="page" id="out_list" style="background-image: url(img/beijing_.png);">
    <div data-role="header" data-position="fixed">
    	<a href="/mobile_index/" rel="external" data-role="button" data-icon="home" data-transition="fade">首页</a>
			<h1>设备委外记录</h1>
	</div>
	<div data-role="content" id="main3Content" >
		
		<ul data-role="listview" data-split-icon="gear" data-split-theme="d" data-filter="true" >
			{% for out in outs %}
                <li>
                    <a href="/mobile_out_msg/?change_id={{ out.change_id }}" data-ajax='false'>
                        <img src="/static/images/album-bb.jpg" />
                        <h3>{{ out.parts_name }}</h3>
                        <p>数量 : {{ out.num }}</p>
                    </a>
                    <a  data-rel="dialog" data-transition="slideup">动作</a>
                </li>
            {% endfor %}

			<!-- <li>
				<a href="#">
					<img src="/static/image/album-p.jpg" />
					<h3>帮助</h3>
					<p>查看系统帮助信息</p>
				</a>
				<a href="#" data-rel="dialog" data-transition="slideup">动作</a>
			</li>
			<li>
				<a href="index.html"  rel="external">
					<img src="/static/image/album-p.jpg" />
					<h3>重新登录</h3>
					<p>返回登录界面重新登录</p>
				</a>
				<a href="index.html" data-rel="dialog" data-transition="slideup"  rel="external">动作</a>
			</li> -->
		</ul>
	</div>
	<div data-role="footer" data-position="fixed" data-theme="a">
				<div data-role = "navbar">
					<ul>
						<li><a href="/mobile_pending/" data-icon="star" data-transition="slide">工单</a></li>
{#						<li><a href="#" data-icon="gear">备件管理</a></li>#}
						<li><a href="/mobile_index/" data-icon="grid" data-transition="slide">设备管理</a></li>
						<li><a href="/mobile_plan/" data-icon="plus" data-transition="slide">购置计划</a></li>
						<li><a href="/mobile_me/" data-icon="home" data-transition="slide">我的</a></li>
					</ul>
				</div>
			</div>
    </div>
    </div>


    <div data-role="page" id="mb_out_msg" >
			<div data-role="header" data-position="fixed" data-theme="a">
				<a href="#out_list" data-transition="flow" >返回</a>
				<h1>详细信息</h1>
			</div>

			<div data-role="content">
                <p >设备图片：<img src="/static/images/album-hc.jpg" width="80%" /></p>
                <div id="dev_img"></div>
{#				<p>设备名称：</p>#}
{#				<hr align="right" width="60%"/>#}

				<br>
{#				<ul data-role="listview" >#}
{#					<li><a href="#comments" >备注：</a></li>#}
{##}
{#				</ul>#}

{#                {% ifequal '0' flag %}#}
{#                    <a href="/edit/?dev_id={{ dev_detail.device_id }}">#}
{#                            <button>编辑</button>#}
{#                        </a>#}
{##}
{#                    <a>#}
{#                        <button id="delbt" >删除</button>#}
{#                        </a>#}
{#                    <a href="/repair_apply/?dev_id={{ dev_detail.device_id }}">#}
{#                        <button>设备维护申请</button>#}
{#                        </a>#}
{#            {% endifequal %}#}

			</div>
		</div>


        <div data-role="dialog" id="mobile_delete">
			<div data-role="content" data-theme="b">
				<span class="tittle" id="title">确认删除此设备信息吗?</span>

				<a href="/mobile_dev_del/?dev_id=" data-role="button" data-theme="b">确定</a>
				<a href="#" data-role="button" data-theme="c" data-rel="back">取消</a>
			</div>
		</div>


</body>
</html>
