<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <!--自适应界面,如果出现,在某些设备出现界面偏小的话,检查一下有没有加入这句 -->
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

	<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.4.min.css" />
	
	<script type="text/javascript" src="/static/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/static/js/jquery.mobile-1.4.4.min.js" ></script>
	<script src="/static/js/cordova-1.5.0.js"></script>

    <script>
            $(document).ready(function(){
                $("#devd").click(function(){
                    var devid=$("#get_param").text();
                      $.get("/mobile_get_details/",{ "dev_id": devid },
                          function(data,status){
                                if(status=='success'){
                                    $.mobile.changePage("#mobile_dev_msg", { transition:'slide' });
                                    var dev_detail= JSON.parse(data);
                                    {#alert(dev_detail)#}
                                    {#alert(dev_detail[0].fields.device_name)#}
                                    {#for(var i=0;i<cate.length;i++){#}
                                        {#alert(cate[i].fields.cate_name);#}
                                        $("#dev_img").append(
                                            "<p>设备名称：" + dev_detail[0].fields.device_name +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>设备编号：" + dev_detail[0].fields.device_id +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>设备类别：" + dev_detail[0].fields.category_name +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "<p>设备型号：" + dev_detail[0].fields.device_model +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>设备状态：" + dev_detail[0].fields.device_status +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>所属部门编号：" + dev_detail[0].fields.belong_id +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>设备等级：" + dev_detail[0].fields.device_rank +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "                <p>备注：" + dev_detail[0].fields.ps +"</p>\n" +
                                            "<hr align=\"right\" width=\"60%\"/>\n" +
                                            "\n" +
                                            "<br />"
                                        )
                                    }

                          });
                    });
                });
        </script>

{#    <script>#}
{#            $(document).ready(function(){#}
{#                $("#delbt").click(function(){#}
{#                    var devid=$("#get_param").text();#}
{#                    $.mobile.changePage("#mobile_delete", { data:devid,transition:'slide' })#}
{#                    $("#title").append(#}
{#                        "a href=\"/mobile_dev_del/?dev_id="+devid+"\" data-role=\"button\" data-theme=\"b\">确定</a>"#}
{#                )#}
{##}
{#                });#}
{#            });#}
{#        </script>#}


</head>
<body>

    <div data-role="page" id="index" style="background-image: url(img/beijing_.png);">
    <div data-role="header" data-position="fixed" data-theme="a">
    	<a href="main2.html" rel="external" data-role="button" data-icon="home" data-transition="fade">首页</a>
			<h1>设备列表</h1>
	</div>
	<div data-role="content" id="main3Content" >
		
		<ul data-role="listview" data-split-icon="gear" data-split-theme="d" data-filter="true" >
			{% for device in devices %}
                <li>
                    <a href="/mobile_dev_msg/?dev_id={{ device.device_id }}" rel="external">
                        <img src="/static/images/album-bb.jpg" />
                        <h3>{{ device.device_name }}</h3>
                        <p id="get_param">{{ device.device_id }}</p>
                    </a>
                    <a href="/mobile_dev_msg/?dev_id={{ device.device_id }}" data-rel="dialog" data-transition="slideup">动作</a>
                </li>
            {% endfor %}
{#			<li>#}
{#				<a href="#">#}
{#					<img src="/static/images/album-hc.jpg" />#}
{#					<h3>设备b</h3>#}
{#					<p>简单介绍......</p>#}
{#				</a>#}
{#				<a href="#" data-rel="dialog" data-transition="slideup">动作</a>#}
{#			</li>#}
			<!-- <li>
				<a href="#">
					<img src="/static/image/album-p.jpg" />
					<h3>帮助</h3>
					<p>查看系统帮助信息</p>
				</a>
				<a href="#" data-rel="dialog" data-transition="slideup">动作</a>
			</li>
			<li>
				<a href="index.html"  rel="external">
					<img src="/static/image/album-p.jpg" />
					<h3>重新登录</h3>
					<p>返回登录界面重新登录</p>
				</a>
				<a href="index.html" data-rel="dialog" data-transition="slideup"  rel="external">动作</a>
			</li> -->
		</ul>
	</div>
	<div data-role="footer" data-position="fixed" data-theme="a">
				<div data-role = "navbar">
					<ul>
						<li><a href="/mobile_pending/" data-icon="star">工单</a></li>
{#						<li><a href="#" data-icon="gear">备件管理</a></li>#}
						<li><a href="/mobile_index/" data-icon="grid">设备管理</a></li>
						<li><a href="/mobile_plan/" data-icon="plus">购置计划</a></li>
						<li><a href="/mobile_me/" data-icon="home">我的</a></li>
					</ul>
				</div>
			</div>
    </div>


    <div data-role="page" id="mobile_dev_msg" >
			<div data-role="header" data-position="fixed" data-theme="a">
				<a href="#exit" data-transition="flow" >返回</a>
				<h1>设备详情</h1>
			</div>

			<div data-role="content">
                <p >设备图片：<img src=/static/images/1.png" width="80%" /></p>
                <div id="dev_img"></div>
{#				<p>设备名称：</p>#}
{#				<hr align="right" width="60%"/>#}
{#				<p>设备编号：</p>#}
{#				<hr align="right" width="60%"/>#}
{#				<p>设备类别：</p>#}
{#				<hr align="right" width="60%"/>#}
{#				<p>设备型号：</p>#}
{#				<hr align="right" width="60%"/>#}
{#                <p>设备状态：</p>#}
{#				<hr align="right" width="60%"/>#}
{#                <p>所属部门编号：</p>#}
{#				<hr align="right" width="60%"/>#}
{#                <p>设备等级：</p>#}
{#				<hr align="right" width="60%"/>#}
{#                <p>备注：</p>#}
{#				<hr align="right" width="60%"/>#}

				<br />
{#				<ul data-role="listview" >#}
{#					<li><a href="#comments" >备注：</a></li>#}
{##}
{#				</ul>#}

{#                {% ifequal '0' flag %}#}
                    <a href="/mobile_edit/?dev_id={{ dev_detail.device_id }}">
                            <button>编辑</button>
                        </a>

                    <a>
                        <button id="delbt" >删除</button>
                        </a>
                    <a href="/repair_apply/?dev_id={{ dev_detail.device_id }}">
                        <button>设备维护申请</button>
                        </a>
{#            {% endifequal %}#}

			</div>

		</div>


        <div data-role="dialog" id="mobile_delete">
			<div data-role="content" data-theme="b">
				<span class="tittle" id="title">确认删除此设备信息吗?</span>

				<a href="/mobile_dev_del/?dev_id=" data-role="button" data-theme="b">确定</a>
				<a href="#" data-role="button" data-theme="c" data-rel="back">取消</a>
			</div>
		</div>


</body>
</html>
