
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

        <title>设备管理系统</title>
         <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile.flatui.css" />

{#		<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.4.min.css" />#}
{#        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>  #}
		<link rel="stylesheet" type="text/css" href="/static/css/slick.css"/>

        <style>
		    a{text-decoration:none}
            {#a{text-underline-color: #1b1b1b}#}
	    </style>
{#        <li><a data-transition="slide" id="dev_list"><img src="/static/images/list_28.png"  class="ui-li-icon">设备列表</a></li>#}

        <script type="text/javascript" src="/static/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/static/js/jquery.mobile-1.4.4.min.js" ></script>
        <script src="/static/js/cordova-1.5.0.js"></script>
        <script type="text/javascript" src="/static/js/slick.min.js"></script>
        <script>
        $(function(){
            $('.slick').slick({
                dots: true,
                 {#slidesToShow: 3,#}
  {#slidesToScroll: 3,#}
              autoplay: true,
              autoplaySpeed: 2500,
                {#fade: true,#}
            });
        });
    </script>

{#        <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{#            $("#dev_list").click(function(){#}
{#                    cache: false,#}
{#                    $.ajax({#}
{#                      type: "GET",#}
{#                      url: "/mobile_get_list/",#}
                      {#data: $('#feedbackform').serialize(),#}
{#                      success:function(ret){#}
{#                            $.mobile.changePage("#devicelists");#}
{#                            var cate = eval ("(" + ret + ")");#}
{#                            $("#mb_cate_name").load(cate)#}
{#                      }#}
{#                });#}
{#            });#}
{##}
{#        });#}
{##}
{#</script>#}

        <script>
            $(document).ready(function(){
                $("#dev_list").click(function(){
                      $.get("/mobile_get_list/",function(data,status){

                            {#alert("Data: " + data + "\nStatus: " + status);#}
                            {#alert(typeof data);#}

                                if(status=='success'){
                                    $.mobile.changePage("#devicelists", { transition:'slide' });

                                    var cate= JSON.parse(data);
                                    {#alert(cate.length)#}

                                    for(var i=0;i<cate.length;i++){
                                        {#alert(cate[i].fields.cate_name);#}
                                        $("#mmm").append(

                                            {#"<li>\n" +#}
                                            {#"<a href=\"#\">\n" +#}
                                            {#"<img src=\"/static/images/devicecontrol.png\" />\n" +#}
                                            {#"<h3 id=\"mb_cate_name\">"+ cate[i].fields.cate_name +"</h3>\n" +#}
                                            {#" <p>评论: PG</p>\n" +#}
                                            {#" <p>时长: 95 min.</p>\n" +#}
                                            {#" </a>\n" +#}
                                            {#" </li>"#}

                                            "<div class=\"ui-block-b\">\n" +
                                            "                <a href=\"/message/?category=" + cate[i].fields.cate_name +
                                            "                          \" rel=\"external\"><img src=\"/static/images/1.png\" width=\"80%\" /></a>\n" +
                                            "                <div class=\"title\">\n" +
                                            "                    <a href=\"/message/?category=" + cate[i].fields.cate_name +
                                            "                           \" rel=\"external\"> " + cate[i].fields.cate_name + "</a>\n" +
                                            "                </div>\n" +
                                            "            </div>"

                                        )
                                    }

                                    {#$("#mb_cate_name").val("1");#}

                                    {#$.each(cate,function(i,item){#}
                                    {#    if(i==0){#}
                                    {#        return true;#}
                                    {#    }#}
                                    {#    var cate_item = item.fields;#}
                                    {#    alert("cate: " + cate_item.cate_name);#}
                                        {#$("#mb_cate_name").load("1")#}
                                    {#}#}

                                    {#for (var i=cate.length; i>=0; i-1){#}
                                    {#    var cate_item = cate.fields#}
                                    {#        $("#mb_cate_name").val(cate_item.id)#}

                                }
                          });
                    });
                });
        </script>

        <script>
                function myFunction() {
                    var x = document.getElementById("snackbar")
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                }
            </script>


	</head>
	
	<body>

        <script>
            $(document).on("swipeleft", ".ui-page", function () {
                var thePage = $(this),
                        next = thePage.jqmData("next");
                if (next) {
                    $(":mobile-pagecontainer").pagecontainer("change", "#" + next, {transition: "slide"});
                }
            });
            $(document).on("swiperight", ".ui-page", function () {
                var thePage = $(this),
                        prev = thePage.jqmData("prev");
                if (prev) {
                    $(":mobile-pagecontainer").pagecontainer("change", "#" + prev, {transition: "slide", reverse: true});
                }
            });
        </script>
		
{#		<div data-role="page" id="index" style="background-image: url(/static/images/beijing_.png);"> #}
		<div class="ui-page" data-role="page" id="index" data-next="device">

            <link rel="stylesheet" href="/static/css/like_toast.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/slick.css"/>
            <link href="/static/css/style_nest.css" rel="stylesheet" type="text/css" media="screen" />
            <style>
                a{text-decoration:none}
                {#a{text-underline-color: #1b1b1b}#}
                .ui-grid-a{
                    -webkit-border-radius: 2rem;
                    -moz-border-radius: 2rem;
                    border-radius: 1.5rem;
                    box-shadow: 8px 8px 5px #4b555b;
                }
            </style>

            <style>
            {
            {#background-color: goldenrod;#}
            border: 3px solid lavenderblush;
            height: 130px;
            font-weight: bold;
            text-align: center;
            padding: 2px;
                {#margin-left: 1px;#}
            }
            .pic {
                padding-left: 40px;
                padding-top: 10px;
                width: 4.5rem;
                    height: 4.5rem;
                transition: all 0.5s ease 0s;
                overflow: hidden;
                }
                .pic{
                    -webkit-animation: swing .4s .2s ease both;
                -moz-animation: swing .4s .2s ease both;
                }

                .pic1 {
                padding-left: 14px;
                padding-top: 12px;
                width: 2.5rem;
                    height: 2.5rem;
                transition: all 0.5s ease 0s;
                overflow: hidden;
                }
                .pic2 {
                padding-left: 60px;
                padding-top: 12px;
                width: 2.5rem;
                    height: 2.5rem;
                transition: all 0.5s ease 0s;
                overflow: hidden;
                }
                .pic3 {
                padding-left: 90px;
                padding-top: 40px;
                width: 4rem;
                    height: 4rem;
                transition: all 0.5s ease 0s;
                overflow: hidden;
                }
                .pic4 {
                padding-left: 8px;
                padding-top: 16px;
                width: 3rem;
                    height: 3rem;
                transition: all 0.5s ease 0s;
                overflow: hidden;
                }
                .pic5 {
                padding-left: 6px;
                padding-top: 50px;
                width: 3rem;
                    height: 3rem;
                transition: all 0.5s ease 0s;
                overflow: hidden;
                }

    </style>
        <style>
            #index_1
            {
            background-color: darkolivegreen;
            }
    </style>
        <style>
            #index_2
            {#.ui-block-a#}
            {#.ui-block-b,#}
            {
            background-color: goldenrod;
            }
    </style>
        <style>
            #index_3
            {#.ui-block-a#}
            {#.ui-block-b,#}
            {
            background-color: saddlebrown;
            }
    </style>
        <style>
            #index_4
            {#.ui-block-a#}
            {#.ui-block-b,#}
            {
            background-color: darkcyan;
            }
    </style>
        <style>
            #index_5
            {#.ui-block-a#}
            {#.ui-block-b,#}
            {
            background-color: #c0504d;
            }
    </style>
        <style>
            #index_6
            {#.ui-block-a#}
            {#.ui-block-b,#}
            {
            background-color: darkslategray;
            }
    </style>
        <style>
            #index_7
            {#.ui-block-a#}
            {#.ui-block-b,#}
            {
            background-color: #2E2D3C;
            }
    </style>
        <style>
            #index_8
            {#.ui-block-a#}
            {#.ui-block-b,#}
            {
            background-color: darkkhaki;
            }
    </style>

            <style>
                #dev_img{
                    background-color: #3388cc;
                    height: 12rem;
                }
                #userr{
                    padding-left: 30%;
                    padding-top: 12%;
                }
                .p_left{float:left; width: 40%; text-align: right; color: grey}
                .p_right{float:right; width: 60%; text-align: left; color: black; font-weight:bold}
            </style>

            <script>
                function myFunction() {
                    var x = document.getElementById("snackbar")
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                }
            </script>

            <script type="text/javascript" >

                      $(function() {

                        $('#container').nested({minWidth: 78, gutter: 4});

                      });

                </script>
            <script src="/static/js/jquery.nested.js"></script>
            <script src="/static/js/makeboxes.js"></script>

            <div data-role="panel" id="panel" data-position="left" data-theme="b" data-display="push">
                <div id="dev_img"><img id="userr" width="120" height="120" src="/static/img/name.png" width="80%" /></div>
                <br>
                <p class="p_left">公司名称&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">WHUT</p>
                <hr/>
                <p class="p_left">联系电话&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">111</p>
                <hr/>
                <p class="p_left">邮箱&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">1@1.com</p>
                <hr/>
                <p class="p_left">主营业务&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">机械电子</p>
                <hr/>
                <p class="p_left">价值观&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">富强民主...</p>
                <hr/>
                <p class="p_left">地址&nbsp;&nbsp;:&emsp;</p>
                <p class="p_right">武汉市</p>
                <hr/>
            </div>

            <div data-role="header" data-position="fixed" data-theme="f" class="ui-shadow">
{#                <a data-iconpos="notext" href="#panel" data-role="button" data-icon="flat-menu"></a>#}
{#                <p>&nbsp设备管理系统&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp服务电话：<span>33333333</span></p>#}
{#                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp设备管理系统 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/mobile_qcode/" data-role="button" data-icon="camera" data-transition="slidedown" rel="external"></a>&nbsp</p>#}
                <a data-iconpos="notext" href="#panel" data-role="button" data-icon="home"></a>
                <h1>设备管理系统</h1>
                <a href="/mobile_qcode/" data-role="button" data-icon="camera" data-transition="slidedown" rel="external"></a>
            </div>
			
			<div data-role="content" >
                <div class="slick">
                    <div><a href="#"><img class="ban" width="325" height="200" src="/static/images/album-bb.jpg" alt=""></a></div>
                    <div><a href="#"><img class="ban" width="325" height="200" src="/static/images/mayun.png" alt=""></a></div>
                </div>

				<div id="snackbar">数据导出成功！</div>

                <div id="container">
                  <div class="box size11" style="font-size: 11px"><a style="COLOR: black; text-align: center" href="#rep_apply" data-transition="pop"><img class="pic1" src="/static/img/list.png"><span>&emsp;&emsp;维护申请</span></a></div>
                  <div class="box size21" style="font-size: 11px"><a style="COLOR: black" href="#adddevice" data-transition="flip" ><img class="pic2" src="/static/img/apply2.png"><span>&emsp;&emsp;&emsp;&emsp;&emsp;添加设备</span></a></div>
                  <div class="box size32" style="font-size: 11px"><a style="COLOR: black" href="#rep_apply" data-transition="pop"><img class="pic3" src="/static/img/apply.png"><span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;维护申请</span></a></div>
                  <div class="box size11" style="font-size: 11px"><a style="COLOR: black" href="/mobile_rep_record/" data-transition="slide"><img class="pic1" src="/static/img/history.png"><span>&emsp;&emsp;设备维护记录</span></a></div>
                  <div class="box size21" style="font-size: 11px"><a style="COLOR: black" href="/mobile_outsource/" data-transition="slideup"><img class="pic4" src="/static/img/hhh.png"><span>&emsp;&emsp;设备委外记录</span></a></div>
                  <div class="box size12" style="font-size: 11px"><a style="COLOR: black" href="#plan_apply" data-transition="slidefade"><img class="pic5" src="/static/img/record.png"><span>&emsp;&emsp;计划申请</span></a></div>
                  <div class="box size21" style="font-size: 11px"><a style="COLOR: black" href="/mobile_dev_query/" data-transition="slidedown"><img class="pic4" src="/static/img/qqq.png"><span>&emsp;&emsp;部件列表</span></a></div>
{#                  <div class="box size11">8</div>#}

                </div>


{#                <div class="ui-grid-a">#}
{#                 <div class="ui-block-a box size11" id="index_1"><a style="COLOR: black" href="/list/" data-transition="slide"><img class="pic" src="/static/img/list.png"><span>&emsp;&emsp;设备列表</span></a></div>#}
{#                 <div class="ui-block-b box size11" id="index_2"><a style="COLOR: black" href="#adddevice" data-transition="flip" ><img class="pic" src="/static/img/apply2.png"><span>&emsp;&emsp;添加设备</span></a></div>#}
{#                    <div class="ui-block-c" id="index_7"><span>第二个列</span></div>#}
{#                 <div class="ui-block-c"><span>第三个列</span></div>#}
{#                 <div class="ui-block-d"><span>第三个列</span></div>#}
{#                 <div class="ui-block-e"><span>第三个列</span></div>#}
{#                 <div class="ui-block-f"><span>第三个列</span></div>#}
{#                 <div class="ui-block-g"><span>第三个列</span></div>#}
{#                   <div class="ui-block-c"><span>第三个列</span></div>#}
{#               </div>#}
{#                <div class="ui-grid-a">#}
{#                 <div class="ui-block-a" id="index_3"><a style="COLOR: black" href="#rep_apply" data-transition="pop"><img class="pic" src="/static/img/apply.png"><span>&emsp;&emsp;维护申请</span></a></div>#}
{#                 <div class="ui-block-b" id="index_4"><a style="COLOR: black" href="/mobile_rep_record/" data-transition="slide"><img class="pic" src="/static/img/history.png"><span>&emsp;&emsp;设备维护记录</span></a></div>#}
{#               </div>#}
{#                <div class="ui-grid-a">#}
{#                 <div class="ui-block-a" id="index_5"><a style="COLOR: black" href="/mobile_outsource/" data-transition="slideup"><img class="pic" src="/static/img/hhh.png"><span>&emsp;&emsp;设备委外记录</span></a></div>#}
{#                 <div class="ui-block-b" id="index_6"><a style="COLOR: black" href="#plan_apply" data-transition="slidefade"><img class="pic" src="/static/img/record.png"><span>&emsp;&emsp;计划申请</span></a></div>#}
{#               </div>#}
{#                <div class="ui-grid-a">#}
{#                 <div class="ui-block-a" id="index_7"><a style="COLOR: black" href="/mobile_dev_query/" data-transition="slidedown"><img class="pic" src="/static/img/qqq.png"><span>&emsp;&emsp;部件列表</span></a></div>#}
{#                 <div class="ui-block-b" id="index_8"><a style="COLOR: black" href="/mobile_excel/" rel="external" data-transition="slidedown" onclick="myFunction()"><img class="pic" src="/static/img/xls.png"><span>&emsp;&emsp;导出设备信息</span></a></div>#}
{#               </div>#}


{#				<ul data-role="listview" class="ui-nodisc-icon ui-alt-icon" data-theme="c">#}
{#					<li><a data-transition="slide" id="dev_list"><img src="/static/images/list_28.png"  class="ui-li-icon">设备列表</a></li>#}
{#                    <li><a href="/list/" data-transition="slide"><img src="/static/images/list_28.png"  class="ui-li-icon">设备列表</a></li>#}
{#                    <li><a href="#adddevice" data-transition="flip" ><img src="/static/images/plus_alt.png"  class="ui-li-icon">添加设备</a></li>#}
{#					<li><a href="#rep_apply" data-transition="pop"><img src="/static/images/plus_alt.png"  class="ui-li-icon">维护申请</a></li>#}
{#					<li><a href="#"><img src="/static/images/list_28.png"  class="ui-li-icon">维修派工</a></li>#}
{#                    <li><a href="/mobile_rep_record/" data-transition="slide"><img src="/static/images/list_28.png"  class="ui-li-icon">设备维护记录</a></li>#}
{#					<li><a href="/mobile_outsource/" data-transition="slideup"><img src="/static/images/list_28.png"  class="ui-li-icon">设备委外记录</a></li>#}
{#					<li><a href="#"><img src="/static/images/list_28.png"  class="ui-li-icon">维修验证</a></li>#}
{#					<li><a href="#plan_apply" data-transition="slidefade"><img src="/static/images/list_28.png"  class="ui-li-icon">计划申请</a></li>#}
{#					<li><a href="/mobile_dev_query/" data-transition="slidedown"><img src="/static/images/list_28.png"  class="ui-li-icon">部件列表</a></li>#}
{#                    <li><a href="/mobile_excel/" rel="external" data-transition="slidedown"><img src="/static/images/list_28.png"  class="ui-li-icon" onclick="myFunction()">导出设备信息到Excel</a></li>#}
{##}
{#				</ul>#}
				
			</div>

{#            <div data-role="collapsible-set" data-theme="b" data-content-theme="b">#}
{#        <div data-role="collapsible" data-collapsed-icon="flat-time" data-expanded-icon="flat-cross" data-collapsed="false">#}
{#          <h3>Section 1</h3>#}
{#          <p>I'm the collapsible content for section 1</p>#}
{#        </div>#}
{#        <div data-role="collapsible" data-collapsed-icon="flat-calendar" data-expanded-icon="flat-cross">#}
{#          <h3>Section 2</h3>#}
{#          <p>I'm the collapsible content for section 2</p>#}
{#        </div>#}
{#        <div data-role="collapsible" data-collapsed-icon="flat-settings" data-expanded-icon="flat-cross">#}
{#          <h3>Section 3</h3>#}
{#          <p>I'm the collapsible content for section 3</p>#}
{#        </div>#}
{#      </div>#}
			
			
			<div data-role="footer" data-position="fixed" data-theme="f">
				<div data-role = "navbar">
					<ul>
						<li><a href="/mobile_pending/" data-icon="info" data-transition="pop">工单</a></li>
{#						<li><a href="#" data-icon="gear">备件管理</a></li>#}
						<li><a href="#" data-icon="grid" data-transition="slide">设备管理</a></li>
						<li><a href="/mobile_plan/" data-icon="star" data-transition="slide">计划</a></li>
						<li><a href="/mobile_me/" data-icon="user" data-transition="slide">个人中心</a></li>
					</ul>
				</div>
			</div>

		</div> 
		
		
		<div data-role="page" id="devicelists">
			<div data-role="header" data-position="fixed" data-theme="f">
				<a href="#index" data-transition="flow" >返回</a>
				<h1>设备类别</h1>
			</div> 
			
			<div data-role="content">	
{#					<ul data-role="listview" >#}
                <div class="ui-grid-b">
						<div id="mmm">
{#						  <a href="#">#}
{#							<img src="/static/images/devicecontrol.png" />#}
{#						  <h3 id="mb_cate_name"></h3>#}
{#							<p>评论: PG</p>#}
{#							<p>时长: 95 min.</p>#}
{#						  </a>#}
						</div>
{#						<li>#}
{#						  <a href="#">#}
{#							<img src="/static/images/devicecontrol.png" />#}
{#						  <h3>X战警</h3>#}
{#							<p>评论: PG-13</p>#}
{#							<p>时长: 137 min.</p>#}
{#						  </a>#}
{#						</li>	#}
{#						<li>#}
{#						  <a href="#">#}
{#							<img src="/static/images/devicecontrol.png" />#}
{#						  <h3>雷雨</h3>#}
{#							<p>评论 PG-13</p>#}
{#							<p>时长: 131 min.</p>#}
{#						  </a>#}
{#						</li>	#}
{#						<li>#}
{#						  <a href="#">#}
{#							<img src="/static/images/devicecontrol.png" />#}
{#						  <h3>小李飞刀</h3>#}
{#							<p>评论: PG</p>#}
{#							<p>时长: 95 min.</p>#}
{#						  </a>#}
{#						</li>													#}
{#					</ul>#}
			</div>
			
		</div>
        </div>
		

		<div data-role="page" id="device" class="ui-page" data-prev="index" >
			<div data-role="header" data-position="fixed" data-theme="f">
				
				<h1>设备检索</h1>
				<a href="#index" data-transition="flow" >返回</a>
			</div> 
			
			<div data-role="content">
				<ul data-role="listview"  data-autodividers="true"  data-filter="true" data-insert = "true">
{#					{% for dev in all_devs %}#}
{#                        <li><a href="#" >{{ dev.device_name }}</a></li>#}
{#                    {% endfor %}#}
{#                   <li data-role="list-divider" >汽车</li>#}
					<li data-theme="c"><a href="#">BMW</a></li>
					<li data-theme="c"><a href="#">AFBC</a></li>
					<li data-theme="c"><a href="#">ASDSD</a></li>
					<li data-theme="c"><a href="#">BYD</a></li>
                    <li data-theme="c"><a href="#">benz</a></li>
{#                    <li data-role="list-divider" >起重机械</li>#}
					<li data-theme="c"><a href="#">CA</a></li>
					<li data-theme="c"><a href="#">CD</a></li>
					<li data-theme="c"><a href="#">CBA</a></li>
					<li data-theme="c"><a href="#">D</a></li>
					<li data-theme="c"><a href="#">H</a></li>
				</ul>	
			</div> 
		</div> 
		
		<div data-role="dialog" id="exit">
			<div data-role="content" data-theme="c">
				<span class="tittle">还未编辑完，你确定离开吗?</span>
				
				<a href="#index" data-role="button" data-theme="b">非常确定</a>
				<a href="#" data-role="button" data-theme="c" data-rel="back">不离开了</a>
			</div>
		</div>
		
		
		<div data-role="dialog" id="devicecategory">
			<div data-role="content" data-theme="b">
				<span class="tittle">设备类别</span>
				
				<a href="#adddevice" data-role="button" data-theme="a">A</a>
				<a href="#adddevice" data-role="button" data-theme="a">B</a>
				<a href="#adddevice" data-role="button" data-theme="a">B</a>
				<a href="#adddevice" data-role="button" data-theme="a">D</a>
				
			</div>
		</div>
		
		<div data-role="page" id="adddevice">
            <link rel="stylesheet" href="/static/css/like_toast.css" />
            <script>
                function myFunction() {
                    var x = document.getElementById("snackbar")
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                }
            </script>
			<div data-role="header" data-position="fixed" data-theme="f">
				<a href="#exit" data-transition="flow" >返回</a>
				<h1>添加设备</h1>
			</div> 
			
			<div data-role="content">
                <div id="snackbar">添加成功！</div>
				<form id="add" action="/mobile_add/success/" method="post" data-ajax="false">

                  <p>
			    <label for="device_name">设备名称:</label>
			    <input type="text" name="device_name" id="device_name" value="" data-theme="d" required="required"/>
			    </p>
                  <p>
			    <label for="device_id">设备编号:</label>
			    <input type="text" name="device_id" id="device_id" value="" data-theme="d" required="required"/>
			    </p>
				<p>
				<label for="category">设备类别:</label>
					<select name="category" id="category">
					  <option value="lift_dev">起重机械</option>
					  <option value="car">汽车</option>
					</select>
				</p>
                  <p>
				<label for="status">设备状态:</label>
					<select name="status" id="status">
					  <option value="normal">正常</option>
					  <option value="repair">维修</option>
                        <option value="check">检查</option>
					</select>
				</p>

				<p>
				<label for="device_model">设备型号:</label>
		        <input type="text" name="device_model" id="device_model" value="M0" data-theme="d" />
				</p>
                  <p>
				<label for="value">本币原值:</label>
		        <input type="text" name="value" id="value" value="0" data-theme="d" />
				</p>

                  <p>
				<label for="delivery">所属部门编号:</label>
					<select name="delivery" id="delivery">
					  <option value="G0">G0</option>
					  <option value="G1">G1</option>
					</select>
				</p>
                  <p>
				<label for="delivery">设备等级:</label>
					<select name="delivery" id="delivery">
					  <option value="barcode">特种设备</option>
					  <option value="nfc">一般设备</option>
					</select>
				</p>
				<p>
				<label for="textarea">备注:</label>
				<textarea cols="40" rows="8" name="textarea" id="textarea" placeholder="备注" data-theme="d">无</textarea>
				</p>
                  <p>
                  <input class="btn btn-green" id="addbtn" type="submit" value="提交" onclick="myFunction()"/>
                  </p>
                  <input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY' />
				    {% csrf_token %}
			  </form>
			</div> 
		
		</div>


        <div data-role="page" id="rep_apply" >
            <link rel="stylesheet" href="/static/css/like_toast.css" />
            <script>
                function myFunction() {
                    var x = document.getElementById("snackbar")
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                }
            </script>
			<div data-role="header" data-position="fixed" data-theme="f">
				<a href="#exit" data-transition="flow" >返回</a>
				<h1>维护申请</h1>
			</div>

			<div data-role="content">
                <div id="snackbar">申请成功</div>
				<form id="apply" action="/mobile_rep_apply/success/" method="post" data-ajax="false">

				<p>
				<label for="apply_id">申请编号:</label>
		        <input type="text" name="apply_id" id="apply_id" value="" data-theme="d" required="required"/>
				</p>

                  <p>
			    <label for="device_name">设备名称:</label>
                      <select name="device_name" id="device_name" data-native-menu="true">
                          <optgroup label=起重机械>
                              {% for dev in all_lift_devs %}
                                <option>{{ dev.device_name }}</option>
{#                         <option value="tue">星期二</option>#}
                              {% endfor %}
                          </optgroup>
                              <optgroup label=汽车>
                              {% for dev in all_car_devs %}
                                <option>{{ dev.device_name }}</option>
{#                         <option value="tue">星期二</option>#}
                              {% endfor %}
                              </optgroup>
{#                         <option value="wed">星期三</option>#}
{#                         <option value="thu">星期四</option>#}
{#                         <option value="fri">星期五</option>#}
{#                              <optgroup label="工作日">#}
{#                         <option value="sat">星期六</option>#}
{#                         <option value="sun">星期日</option>#}
                        </select>
{#			    <input type="text" name="device_name" id="device_name" value="" data-theme="d" required="required"/>#}
			    </p>
{#                  <p>#}
{#			    <label for="device_id">设备编号:</label>#}
{#			    <input type="text" name="device_id" id="device_id" value="" data-theme="d" required="required"/>#}
{#			    </p>#}
				<p>
				<label for="category">设备类别:</label>
					<select name="category" id="category">
					  <option value="lift_dev">起重机械</option>
					  <option value="car">汽车</option>
					</select>
				</p>
                  <p>
				<label for="status">申请设备状态:</label>
					<select name="status" id="status">
{#					  <option value="normal">正常</option>#}
					  <option value="repair">维修</option>
                        <option value="check">检查</option>
					</select>
				</p>

                  <p>
				<label for="reason">申请原因:</label>
		        <input type="text" name="reason" id="reason" value="零件损坏" data-theme="d" required="required"/>
				</p>

                  <p>
				<label for="apply_unit">申请部门编号:</label>
					<select name="apply_unit" id="apply_unit">
					  <option value="G0">G0</option>
					  <option value="G1">G1</option>
					</select>
				</p>
{#                  <p>#}
{#				<label for="delivery">设备等级:</label>#}
{#					<select name="delivery" id="delivery">#}
{#					  <option value="barcode">特种设备</option>#}
{#					  <option value="nfc">一般设备</option>#}
{#					</select>#}
{#				</p>#}
				<p>
				<label for="textarea">备注:</label>
				<textarea cols="40" rows="8" name="textarea" id="textarea" placeholder="备注" data-theme="d">无</textarea>
				</p>
                  <p>
                  <input class="btn btn-green" id="addbtn" type="submit" value="提交" onclick="myFunction()" />
                  </p>
                  <input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY' />
				    {% csrf_token %}
			  </form>
			</div>

		</div>


        <div data-role="page" id="plan_apply" >
            <link rel="stylesheet" href="/static/css/like_toast.css" />
            <script>
                function myFunction() {
                    var x = document.getElementById("snackbar")
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                }
            </script>
			<div data-role="header" data-position="fixed" data-theme="f">
				<a href="#exit" data-transition="flow" >返回</a>
				<h1>计划申请</h1>
			</div>

			<div data-role="content">
                <div id="snackbar">申请成功</div>
				<form id="apply" action="/mobile_plan_apply/" method="post" data-ajax="false">

                  <p>
			    <label for="parts_name">部件名称:</label>
			    <input type="text" name="parts_name" id="parts_name" value="" data-theme="d" required="required"/>
			    </p>
                  <p>
			    <label for="plan_id">计划编号:</label>
			    <input type="text" name="plan_id" id="plan_id" value="" data-theme="d" required="required"/>
			    </p>
				<p>
				<label for="apply_unit">申请部门编号:</label>
					<select name="apply_unit" id="apply_unit">
					  <option value="G0">G0</option>
					  <option value="G1">G1</option>
					</select>
				</p>
                  <p>
				<label for="num">数量:</label>
		        <input type="text" name="num" id="num" data-theme="d" value="1" required="required"/>
				</p>
                    <p>
				<label for="spec_model">规格型号:</label>
		        <input type="text" name="spec_model" id="spec_model" value="M0" data-theme="d" required="required"/>
				</p>

                    <p>
				<label for="plan_class">申请计划类别:</label>
					<select name="plan_class" id="plan_class">
					  <option value="buy">购置</option>
					  <option value="update">更新</option>
                        <option value="recycle">回收</option>
					</select>
				</p>
{#                  <p>#}
{#				<label for="delivery">设备等级:</label>#}
{#					<select name="delivery" id="delivery">#}
{#					  <option value="barcode">特种设备</option>#}
{#					  <option value="nfc">一般设备</option>#}
{#					</select>#}
{#				</p>#}
				<p>
				<label for="remark">备注:</label>
				<textarea cols="40" rows="8" name="remark" id="remark" placeholder="备注" data-theme="d">无</textarea>
				</p>
                  <p>
                  <input class="btn btn-green" id="addbtn" type="submit" value="提交" onclick="myFunction()" />
                  </p>
                  <input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY' />
				    {% csrf_token %}
			  </form>

			</div>
        </div>
			
		
		<div data-role="page" id="comments"> 
			<div data-role="header" data-position="fixed" data-theme="f">
				<a href="#adddevice" data-transition="flow" >返回</a>
				<h1>设备添加</h1>
				
			</div> 
			
			<div data-role="content">
				<div data-role="content" id="comments">
				<label for="comments">备注：</label>
				<textarea cols="1" rows="1" name="comments" id="comments"></textarea>
			</div>
				
			
		</div>
        </div>
		

	</body>
</html>
